@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font-family: "Manrope", sans-serif;

  --gradient-text: linear-gradient(89.97deg, #000000 1.84%, #333333 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #000000 -13.86%, #666666 99.55%);

  --color-bg: #ffffff;
  --color-footer: #f8f8f8;
  --color-blog: #f5f5f5;
  --color-text: #333333;
  --color-subtext: #666666;
  --color-primary: #000000;
  --color-secondary: #333333;
  --color-accent: #666666;
  --color-light-gray: #f5f5f5;
  --color-medium-gray: #e0e0e0;
}
